/*---------------------------*/
	   /* FONTS */
/*---------------------------*/

@font-face {
	font-family: "PoppinsBold";
	src: font-url("Poppins-Bold.ttf");
}

@font-face {
	font-family: "PoppinsLight";
	src: font-url("Poppins-Light.ttf");
}

@font-face {
	font-family: "PoppinsRegular";
	src: font-url("Poppins-Regular.ttf");
}



/*---------------------------*/
	   /* FONTS */
/*---------------------------*/